<div class="container-fluid">
  <h1>Productos</h1>
  <div class="mb-3">
    <button>Exportar</button>
    <button>Importar</button>
    <button>Anadir nuevo</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>img</th>
        <th>nombre</th>
        <th>stock</th>
        <th>precio</th>
        <th>categorias</th>
        <th>fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>1</td>
        <td>2</td>
        <td>{{ producto.producto.nombre }}</td>
        <td>{{ producto.producto.stock }}</td>
        <td>{{ producto.producto.precio_normal }}</td>
        <td>{{ producto.categoria.nombre }}</td>

        <td></td>
      </tr>
    </tbody>
  </table>
</div>
